.form-header {
    text-align: center;
    margin-bottom: 1rem;
    height: 22%;
    overflow: hidden;    
}

.formPage {
    max-width: 26rem;
    min-height: 32rem;
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px #333;
}

.form-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
    height: 2rem;
}

.form-err {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #e74c3c;
}

.mainForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 75%;

    &-inputEl{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input {
            border-radius: 6px;
            border: none;
            box-shadow: 0 0 2px 0 #333;
            padding: 0.5rem;
            outline: none;

            &:focus{
                box-shadow: 0 0 4px 0 #333;
            }
        }
    }

    button {
        margin-top: auto;
        padding: 0.5rem;
        border-radius: 8px;
        border: none;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;

        &:hover {
            background-color: #333333e1;
            transition: all 0.3s;
        }
    }

    

}